html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #ebebeb;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  display: flex;
}

#app {
  justify-content: center;
}

.main {
  flex-direction: column;
  flex-wrap: wrap;
}

.title {
  font: 32px arial, helvetica, sans-serif;
  padding: 8px;
  margin: 8px;
}

.wake-up-times {
  font: 46px arial, helvetica, sans-serif;
  justify-content: center;
  flex-direction: row;
}

.wake-up-time {
  background-color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  margin: 12px;
  border: 1px solid #bbb;
  border-radius: 2px;
  &-not-preferred {
    @extend .wake-up-time;
    &:nth-child(1) {
      background-color: #FF0000;
    }
    &:nth-child(2) {
      background-color: #D52B00;
    }
  }
  &-preferred {
    @extend .wake-up-time;
    &:nth-child(2) {
      background-color: #047F00
    }
    &:nth-child(3) {
      background-color: #059900;
    }
  }
}